* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: $font-basic;
    background-color: $color-background;
}

a {
    text-decoration: none;
}

section {
    padding: 15px 15px 20px 203px;
}