@import url('https://fonts.googleapis.com/css?family=Roboto');

$font-basic: 'Roboto', sans-serif;

$color-nav-background: #191919;
$color-nav-text: #818181;
$color-background: #f7f7f7;
$color-section-background: white;
$color-button: #f58220;
$color-title: #a6a6a6;
$color-text: #333333;
$color-link: #56819f;
$color-line: #e3e3e3;
$color-active: #f1f3f3;
$color-link-active: #282828;

$small: 20px;
$medium: 40px;
$large: 75px;
$header-margin: 10px;