.button-normal {
    @include button-style($color-button, $color-section-background, 3px);
}

.button-hamburger {
    @include button-style($color-nav-background, $color-nav-text, 3px);
    padding: 0;

    span {
        display: block;
        width: 30px;
        height: 4px;
        background-color: $color-nav-text;
        margin: 5px;
        border-radius: 2px;
    }

    &:hover {
        span {
            background-color: $color-nav-background;
        }
    }
}

.button-copy {
    @include button-style($color-line, $color-section-background, 3px);
}

.button-minimal {
    background-color: $color-section-background;
    border: none;
    cursor: pointer;
}

.button-nav {
    @extend .button-minimal;
    margin-left: 10px;
    background-color: $color-nav-background;
    color: $color-nav-text;
}

@media (max-width: 500px) {
    .button-normal {
        width: 80%;
    }
}
