.button-normal {
    @include button-style($color-button, $color-section-background, 3px);
}

.button-hamburger {
    @include button-style($color-nav-background, $color-nav-text, 3px);
    transform: rotate(90deg);
    font-size: 30px;
}

.button-copy {
    @include button-style($color-line, $color-section-background, 3px);
}

.button-minimal {
    background-color: $color-section-background;
    border: none;
    cursor: pointer;
}
