.pagination-element {
    float: left;
    padding: 8px 16px;
}

.pagination-element:hover:not(.active) {
    background-color: $color-title;
}

@media (max-width: 550px) {
    .pagination-element-disabled {
        display: none;
    }
}
