.reload {
    height: 2em;
    padding: .25em;
    width: 2em;
    position: relative;
    transform: rotate(45deg) scale(0.75, 0.75);
    margin-bottom: 1px;

    &:before, 
    &:after {
        content: '';
        display: block;
    }

    &:before {
        border-color: transparent white white white;
        border-radius: 50%;
        border-style: solid;
        border-width: .125em;
        height: 1.5em;
        width: 1.5em;
        transform: rotate(45deg);
    }

    &:after {
        border-color: transparent transparent transparent white;
        border-style: solid;
        border-width: .3125em 0 .3125em .5em;
        height: 0;
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
    }
}
