.active {
    background-color: $color-active;
    color: $color-nav-text;
}

.active-link {
    background-color: $color-link-active;
}

.active-line {
    margin-right: -4px;
    width: 4px;
    height: 100%;
    background-color: $color-button;
}

.addvisible {
    display: block;
}

.disablevisible {
    display: none;
}
