.info-title {
    color: $color-title;
    float: left;
    width: 60%;
    @include clear-mp;
}

.info-text {
    color: $color-text;
    float: right;
    text-align: end;
    width: 40%;
    @include clear-mp;
}

.section-title {
    text-transform: uppercase;
    color: $color-title;
    padding-top: 15px;
    padding-left: 15px;
}

.single-text {
    color: $color-text;
    padding-left: 20px;
    padding-bottom: 22px;
}