.banners {
    .line-horizontal {
        margin-bottom: 0;
    }

    [class*=col] {
        padding: 20px;
    }

    .row {
        margin-bottom: 0;
    }
}

@media (min-width: 769px) {
    .banners {
        .line-right {
            border-right: 1px solid $color-line;
        }
    }
}
