.data-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;

    button {
        &:hover {
            .reload {
                &:before {
                    border-color: transparent $color-button $color-button $color-button;
                }

                &:after {
                    border-color: transparent transparent transparent $color-button;
                }
            }
        }
    }
}

.data-form {
    width: 350px;
    border: 1px solid $color-line;
    border-radius: 3px;
    display: flex;
    margin-right: 20px;

    input {
        padding: 15px 5px 15px 10px;
        border: none;
        width: 49%;
    }

    .line-horizontal {
        width: 1px;
        height: 31px;
        margin-top: 7px;
        margin-bottom: 0;
    }
}

@media (max-width: 520px) {
    .data-container {
        flex-direction: column;

        button {
            margin: 20px auto 0;
            width: 50px;
        }
    }

    .data-form {
        flex-direction: column;
        margin: 0 auto;
        width: 90%;

        input {
            width: 100%;
        }

        .line-horizontal {
            display: block;
            width: 100%;
            height: 1px;
            margin: 0;
        }
    }
}
