.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 61px;
    background-color: $color-section-background;
    border-bottom: 1px solid $color-line;

    p {
        font-size: 28px;
        color: $color-title;
    }

    a {
        color: $color-link;
    }
}

@media (max-width: 687px) {
    .header {
        display: none;
    }
}
