.header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 61px;
    background-color: $color-section-background;
    border-bottom: 1px solid $color-line;
    z-index: 10;

    .line-vertical {
        display: none;
    }
}

@media (max-width: 687px) {
    .header {
        display: none;
    }
}
