.info-container {
    width: 100%;
    max-width: 640px;
    padding: 0 20px 20px;
    margin: 0 auto;
    color: $color-title;

    p {
        @include clear-mp;
    }

    a {
        color: $color-link;
    }

    .line-horizontal {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .button-minimal {
        max-height: 18px;
    }
}
