.modal {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 90px;
}

.modal-container {
    background-color: $color-section-background;
    position: relative;
    margin: 0 auto;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    
    .input-filter {
        width: 95%;
        border: 1px solid $color-line;
        border-radius: 3px;
        padding: 16px;
    }

    .row {
        margin: 0 18px 25px;
    }

    .line-horizontal {
        margin-bottom: 25px;
    }

    .title {
        padding-bottom: 15px;
    }

    .button-minimal {
        position: fixed;
        right: 12%;
        margin-top: 20px;
        color: $color-title;
    }

    .select-item {
        padding-right: 36px;
    }
}

.disable-links,
.disable-banners {
    display: none;
}

@media (max-width: 768px) {
    .modal-container {
        .title {
            padding: 15px 0; 
        }
    }
}
