.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 90px;

    .modal-container {
        background-color: $color-section-background;
        margin: auto;
        width: 80%;

        input {
            width: 95%;
            position: absolute;
            bottom: 5px;
            border: 1px solid $color-line;
            border-radius: 3px;
            padding: 16px;
        }

        [class*="col-"] {
            position: relative;
            height: 90px;
        }

        .row {
            margin: 0 18px 25px;
        }

        .line-horizontal {
            margin-bottom: 25px;
        }
    }
}