.navigation-header {
    display: none;
    padding-left: 20px;

    .button-minimal {
        background-color: $color-nav-background;
        padding: 0;
    }
}

@media (min-width: 689px){
    .navigation-header {
        display: none;
    }
}
