.navigation {
    position: fixed;
    width: 188px;
    height: 100%;
    padding-top: 70px;
    background-color: $color-nav-background;
    color: $color-nav-text;
    z-index: 2;
    
    a {
        padding-top: 7px;
        padding-left: 15px;
        color: $color-nav-text;
    }

    .line-horizontal {
        margin: 20px 0;
    }
}

@media (max-width: 687px) {
    .navigation {
        display: none;
    }
}
