.section-title {
    text-transform: uppercase;
    color: $color-title;
    padding-top: 15px;
    padding-left: 15px;
}

.section-container {
    width: 100%;
    padding-bottom: 41px;
    background-color: $color-section-background;
}

.section-form {
    text-align: center;
    padding: 44px 0;
}