section {
    padding: 15px 15px 20px 203px;
}

.section-container {
    width: 100%;
    padding-bottom: 41px;
    background-color: $color-section-background;
}

.section-input {
    text-align: center;
    padding: 40px 0;
}