%table-statistic {
    width: 100%;
    margin: 0 auto;

    th,
    td {
        border-bottom: 1px solid $color-line;
        text-align: left;
        padding: 20px 20px;
    }

    th {
        color: $color-title;
    }
}

.scroll-wrapper {
    width: 100%;
    display: block;
    overflow-x: auto;
}

.table-statistic-large {
    @extend %table-statistic;
    max-width: 1200px;
    width: 100%;
}

.table-statistic-small {
    @extend %table-statistic;
    max-width: 750px;
    width: 100%;
}
