.navigation {
    position: fixed;
    width: 187px;
    height: 100%;
    background-color: $color-nav-background;
    color: $color-nav-text;

    .navigation-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;    
        padding-left: 19px;    
        height: 45px;
    }

    .line-horizontal {
        margin: 20px 0;
    }
}