.generate-link {
    padding: 0 15px 5px;
    margin-top: 20px;

    input {
        border: 1px solid $color-line;
        border-radius: 3px;
        padding: 16px;
        width: 80%;
    }

    input,
    button {
        margin-bottom: 15px;
    }

    .button-copy {
        margin: 0 12px;
    }
}