.generate-link {
    padding: 0 15px 5px;
    margin-top: 20px;

    input {
        border: 1px solid $color-line;
        border-radius: 3px;
        padding: 16px;
        width: 70%;
    }

    input,
    button {
        margin-bottom: 15px;
    }

    .button-copy {
        margin: 0 12px;
    }
}

@media (max-width: 854px) {
    .generate-link {
        input {
            width: 90%;
        }

        button {
            width: 40%;
            margin: 10px 12px;
        }
    }
}

@media (max-width: 550px) {
    .generate-link {
        input {
            width: 100%;
        }
        
        button {
            width: 90%;
            margin: 10px 12px;
        }
    }
}
