.header-item {
    display: flex;
    align-items: center;
    height: 100%;

    a {
        margin-left: 5px;
    }

    p {
        font-size: 28px;
        color: $color-title;
        margin: 5px;
    }

    &:before {
        content: "";
        display: block;
        background-color: $color-line;
        width: 1px;
        height: 100%;
        margin: 0 10px;
    }
}
