.input-item {
    padding: 10px 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;

    p {
        color: $color-title;
        font-weight: bold;
    }

    input {
        width: 300px;
        padding: 15px;
        border: 1px solid $color-line;
        border-radius: 3px;
    }
}

@media (max-width: 710px) {
    .input-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;

        input {
            width: 100%;
            max-width: 300px;
        }
    }
}
