.navigation-header-item {
    display: flex;
    align-items: center;    
    height: 45px;
    width: 100%;

    p {
        margin: 0 10px;
    }

    a {
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        margin-bottom: 5px;
    }
}
